
    <section class="hero py-4">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>A Treat of life</em></h6>
                <h1 class="text-4xl font-bold">You deserve to eat sweet today.</h1>
                <button class="order-now px-6 py-2 rounded-full text-white mt-4 font-bold">Order Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/icecream.jpg" alt="icecream" class="rounded-full">
            </div>
        </div>
    </section>
    <section class="menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8">All Icecreams</h1> 
        <div class="grid grid-cols-4 col-gap-12 row-gap-16">
            <% icecreams.forEach(function(icecream) { %>
                <div>
                    <img src="/img/<%= icecream.image%>" alt="item" class="h-40 mb-4 mx-auto rounded-full">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg"><%= icecream.name%></h2>
                        <span class=" size py-1 px-4 rounded-full uppercase text-xs"><%= icecream.size%></span>
                        <div class="flex items-center justify-around mt-6">
                            <span class="font-bold text-lg">₹<%= icecream.price%></span>
                            <button data-icecream="<%= JSON.stringify(icecream)%>" class="add-to-cart py-1 px-4 rounded-full flex items-center font-bold">
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>